<div>
  <p class="tmembers">Total Members: <%= @members.count %></p>
</div>

<div>
  <p class="tclasses">Total Classes: <%= @gym_classes.count %></p>
</div>

<div>
  <p class="tbookings">Total Bookings: <%= @bookings.count %></p>
</div>
