<div id="" style="overflow:scroll; height:30em; width:45em;">


<h1>Bookings</h1>
<hr />
<% for booking in @bookings %>
<p>Title: <%= booking.gym_class.title %></p>
<p>Member: <%= booking.member.format_name %></p>
<p>Start Time: <%= booking.gym_class.start_time %></p>
<form class="formside" action="/bookings/<%= booking.id%>/delete" method="POST">
  <input type="submit" value="Delete Booking">
</form>
<hr />
<% end %>

</div>

<form action="/bookings/new" method="get">
  <input type="submit" value="Add Booking">
</form>
